$primary-color: #fb8500;
$secondary-color: #ffb703;
$third-color: #023047;
$forth-color: #219ebc;
$fifth-color: #8ecae6;
$darkSmoke-color: #0f4c5c;
$tann-color: #f9c74f;

$container: (
    "xs": 420px,
    "sm": 640px,
    "md": 790px,
    "lg": 1024px,
    "xl": 1280px,
    "2xl": 1412px,
    "3xl": 1842px
)
